/*
 * Several snippets shamelessly copied from Vicky Lai’s Website.
 * https://vickylai.com/
 */

:root {
    --background: #ffffff;
    --body-text: #606060;
    --links: #3AAA57;
    --links-hover: #246A36;
    --pri-accent: #3A55AA;
    --sec-accent: #AA3A8D;
    --ter-accent: #AA8F3A;
    --img-opacity: 1;
    --light-button: inline;
    --dark-button: none;
    --pri-font: Merriweather;
    --sec-font: Montserrat;
    --timeline-top-pos: 0.5em;
    --timeline-line-off: 0.25em;
    --timeline-bubble-dim: 0.5em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    font-family: var(--pri-font), Georgia, serif;
}

body {
    font-family: var(--pri-font), Georgia, serif;
    color: var(--body-text);
    text-shadow: none;
    /* Default configuration. */
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: .4px;
    margin: 0;
}

@media all and (min-width:2200px) {
    /* Increase font size. */
    body {
        font-size: 18px;
        line-height: 1.8em;
    }
}

@media all and (max-width:768px) {
    /* For small screens, decrease letter spacing. */
    body {
        letter-spacing: .3px;
    }
}

img {
    opacity: var(--img-opacity);
}

.headshot {
    border-radius: 50%;
    max-width: 200px;
    box-shadow: 1px 2px 5px #202020;
}

h1,
h2,
h3 {
    font-family: var(--sec-font), Helvetica, Arial, sans-serif;
    line-height: 1.2em;
    color: var(--ter-accent);
    margin: 2em 1em 0.25em 0.2em;
}

li {
    list-style-type: none;
}

p {
    display: block;
}

a {
    color: var(--links);
    text-decoration: none;
    transition: ease .3s;
}

a:hover {
    color: var(--links-hover);
    font-style: none;
}

a:active {
    color: var(--links);
}

.content {
    margin: 0 auto;
}

@media all and (min-width:2201px) {
    .content {
        width: 50vw;
    }
}

@media all and (max-width:2200px) {
    .content {
        width: 60vw;
    }
}

@media all and (max-width:1380px) {
    .content {
        width: 80vw;
    }
}

@media all and (max-width:768px) {
    .content {
        width: 95vw;
    }
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1em;
}

@media all and (max-width:768px) {
    .section {
        flex-direction: column;
    }
}

.banner {
    margin: 1em auto;
    flex-grow: 1;
}

.opening {
    margin: 1em;
}

.links {
    flex-grow: 1;
}

.ellipsis {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: var(--pri-accent);
    padding-bottom: 2em;
}

.menu, .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Montserrat, Ubuntu, sans-serif;
    font-weight: 700;
    background-color: var(--background);
}

.menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 15px;
    z-index: 100;
}

.menu .item {
    flex-shrink: 1;
    margin: 1em 0 0 0;
    padding: 0 0.8em;
}

.menu > .item:not(:first-of-type) {
    border-left: 1px solid var(--pri-accent);
}

.links a {
    padding: 0 1em;
}

@media all and (max-width:768px) {
    .links a {
        padding: 0 1em 0 0;
    }
}

.pubs {
    margin: 0 1em 1em 4em;
    position: relative;
}

@media all and (max-width:768px) {
    .pubs {
        margin: 2em 0.25em 1em 1em;
        position: relative;
    }
}

/* Vertical ruler (timeline). */
.pubs::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: var(--ter-accent);
    top: var(--timeline-top-pos);
    bottom: 0;
    left: var(--timeline-line-off);
}

.pubs li {
    margin: 0 0 3em 1.5em;
    position: relative;
}

.pubs li:last-child {
    margin-bottom: 0;
}

/* Markings in the vertical ruler (timeline). */
.pub::before {
    content: '';
    position: absolute;
    width: var(--timeline-bubble-dim);
    height: var(--timeline-bubble-dim);
    top: var(--timeline-top-pos);
    left: -1.5em;
    background-color: var(--background);
    border: 1px solid var(--ter-accent);
    border-radius: 50%;
    z-index: 1;
}

.pubs li span {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.pubs li .title {
    color: var(--pri-accent);
    font-weight: 700;
    font-size: 1em;
}


.pubs li .authors {
    font-weight: 400;
}

.pubs li .venue {
    font-style: italic;
}

.pubs li .year {
    font-weight: 700;
}

.pubs li .url {
    font-size: 1.25em;
}

.home {
    position: fixed;
    right: 0.5em;
    top: 0.5em;
    font-size: 1.5em;
}
