/*
 * Several snippets shamelessly copied from Vicky Lai’s Website.
 * https://vickylai.com/
 */

/* Light theme. */
/*
:root {
    --background: #ffffff;
    --shadow-accent: #14161b;
    --body-text: #606060;
    --links: #2B7F41;
    --links-hover: #3964FF;
    --pri-accent: #2B7F41;
    --sec-accent: #AA3A8D;
    --ter-accent: #AA8F3A;
    --gray: #707070;
    --img-opacity: 1;
    --light-button: inline;
    --dark-button: none;
    --pri-font: 'Proza Libre', 'Georgia', serif;
    --sec-font: 'Proza Libre', 'Helvetica', sans-serif;
    --timeline-top-pos: 0.5em;
    --timeline-line-off: 0.25em;
    --timeline-bubble-dim: 0.5em;
    --timeline-lmargin-fat: 3em;
    --timeline-lmargin-thin: 1em;
}
*/

/* Dark theme. */
:root {
    --background: #242731;
    --shadow-accent: #14161b;
    --body-text: #CECECE;
    --links: #37A254;
    --links-hover: #3964FF;
    --pri-accent: #37A254;
    --sec-accent: #BA4099;
    --ter-accent: #C2A64C;
    --gray: #909090;
    --img-opacity: 1;
    --light-button: inline;
    --dark-button: none;
    --pri-font: 'Proza Libre', 'Georgia', serif;
    --sec-font: 'Proza Libre', 'Helvetica', sans-serif;
    --timeline-top-pos: 0.5em;
    --timeline-line-off: 0.25em;
    --timeline-bubble-dim: 0.5em;
    --timeline-lmargin-fat: 3em;
    --timeline-lmargin-thin: 1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    font-family: var(--pri-font);
    scroll-behavior: smooth;
    font-kerning: auto;
    -webkit-font-kerning: auto;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: var(--pri-font);
    color: var(--body-text);
    text-shadow: none;
    /* Default configuration. */
    font-size: 70%;
    line-height: 1.5em;
    margin: 0;
}

@media all and (min-width: 400px) {
    body {
        font-size: 75%;
    }
}

@media (min-width: 700px) {
    body {
        font-size: 90%;
    }
}

@media (min-width: 850px) {
    body {
        font-size: 100%;
    }
}
@media (min-width: 1000px) {
    body {
        font-size: 110%;
        line-height: 1.6em;
    }
}
@media (min-width: 1100px) {
    body {
        font-size: 115%;
        line-height: 1.6em;
    }
}
@media (min-width: 1450px) {
    body {
        font-size: 125%;
        line-height: 1.6em;
    }
}

img {
    opacity: var(--img-opacity);
}

.headshot {
    border-radius: 50%;
    max-width: 200px;
    box-shadow: 1px 2px 5px var(--shadow-accent);
}

h1,
h2,
h3 {
    font-family: var(--sec-font);
    font-weight: 700;
    font-style: italic;
    line-height: 1.8em;
    color: var(--ter-accent);
    margin: 2em 1em 0.25em 0.2em;
}

li {
    list-style-type: none;
}

p {
    display: block;
}

a {
    color: var(--links);
    text-decoration: none;
    transition: ease .3s;
}

a:focus, a:hover {
    color: var(--links-hover);
    font-style: none;
}

a:active {
    color: var(--links);
}

.content {
    margin: 0 auto;
}

@media all and (min-width:891px) {
    .content {
        width: 800px;
    }
}

@media all and (max-width:890px) {
    .content {
        width: 90vw;
    }
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1em;
}

@media all and (max-width:768px) {
    .section {
        flex-direction: column;
    }
}

.more {
    margin-left: var(--timeline-lmargin-fat);
}

.more > span {
    padding-left: 0.2em;
}

.banner {
    margin: 1em auto;
    flex-grow: 1;
}

.opening {
    margin: 2em;
}

.links {
    flex-grow: 1;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 700;
    background-color: var(--background);
}

.links a {
    padding: 0 0.5em;
}

@media all and (max-width:768px) {
    .links a {
        padding: 0 0.5em;
    }
}

.pointer {
    padding-top: 2em;
    padding-bottom: .5em;
    font-size: 2em;
}

.pubs {
    margin: 0 1em 1em var(--timeline-lmargin-fat);
    position: relative;
}

@media all and (max-width:768px) {
    .pubs {
        margin: 2em 0.25em 1em var(--timeline-lmargin-thin);
        position: relative;
    }

    .more {
        margin-left: var(--timeline-lmargin-thin);
    }
}

/* Vertical ruler (timeline). */
.pubs::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: var(--ter-accent);
    top: var(--timeline-top-pos);
    bottom: 0;
    left: var(--timeline-line-off);
}

.pubs li {
    margin: 0 0 3em 1.5em;
    position: relative;
}

.pubs li:last-child {
    margin-bottom: 0;
}

/* Markings in the vertical ruler (timeline). */
.pub::before {
    content: '';
    position: absolute;
    width: var(--timeline-bubble-dim);
    height: var(--timeline-bubble-dim);
    top: var(--timeline-top-pos);
    left: -1.5em;
    background-color: var(--background);
    border: 1px solid var(--ter-accent);
    border-radius: 50%;
    z-index: 1;
}

.pubs li > span {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 0.9em;
}

.pubs li .title {
    color: var(--pri-accent);
    font-weight: 700;
    font-size: 1em;
}

/* .title a {
    border-bottom: 1px solid var(--background);
} */

.title a:hover {
    cursor: pointer;
    /* border-bottom: 1px solid var(--links-hover); */
}

.pubs li .typeinfo {
    color: var(--gray);
    font-size: 0.8em;
}

.pubs li .authors {
    color: var(--gray);
    font-size: 0.85em;
    font-weight: 400;
}

.pubs li .venue {
    font-style: italic;
}

.pubs li .year {
    font-weight: 400;
    font-size: 0.8em;
    color: var(--ter-accent);
}

.pubs li .url {
    font-size: 1.25em;
}

.pubs li .norm {
    color: var(--body-text);
    font-size: 0.9em;
}

.pubs li .awards {
    color: var(--sec-accent);
    font-weight: 700;
    font-size: 0.8em;
}

.pubs li .addtl {
    color: var(--sec-accent);
    font-size: 1em;
    margin: 6px 0 2px;
}

.pubs li .addtl span:first-child {
    margin-left: 0.1em;
}

.pubs li .addtl span:not(:first-child) {
    border-left: 0.5px dashed var(--pri-accent);
    margin-left: 0.75em;
    padding-left: 0.75em;
}

.home {
    position: fixed;
    right: 0.5em;
    top: 0.5em;
    font-size: 1.5em;
}
